@use '../../abstracts/' as *;
.btn-toggle {
    position: relative;
    width: 3rem;
    height: 1.5rem;
    &__slider {
        position: absolute;
        inset: 0;
        background-color: $toggle-background-color;
        border-radius: 100px;
        cursor: pointer;
        transition: background-color .1s ease-in-out;
        &::before {
            content: '';
            position: absolute;
            height: 1.1rem;
            aspect-ratio: 1;
            border-radius: 50%;
            background-color: $white;
            top: 50%;
            left: 50%;
            transform: translate(-100%, -50%);
            transition: transform .2s ease-in-out;
        }
    }
    input[type="checkbox"] {
        display: none;
    }
    input[type="checkbox"]:checked+&__slider {
        background-color: $strong-cyan;
        &::before {
            transform: translate(0%, -50%);
        }
    }
}