@use '../abstracts' as *;
.card {
    width: $card-width;
    height: $card-height;
    border-radius: $card-border-radius;
    background-color: $bg-card;
    padding: $card-padding;
    box-shadow: 0 1rem 1rem 20px hsla(0, 0%, 0%, .1), 0 2rem 2rem 40px hsla(0, 0%, 0%, .05);
    &__img-container {
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        .on-hover-shade {
            position: absolute;
            inset: 0;
            @include flex;
            background-color: transparentize($cyan, $amount: .5);
            opacity: 0;
            cursor: pointer;
            .img-container {
                @include flex;
            }
        }
        &:hover>.on-hover-shade {
            opacity: 1;
        }
    }
    &__data-container {
        @include flex($direction: column, $justify: center, $align: flex-start);
        gap: 1.5rem;
        padding: 1.2rem 0;
    }
    &__title {
        @include typography($family: $ff-main, $weight: 600, $color: $white, $size: 1.4rem);
        &:hover {
            cursor: pointer;
            color: $cyan;
        }
    }
    &__description {
        @include typography($family: $ff-main, $weight: 300, $color: $light-blue, $size: 1.15rem);
    }
    .l-flex {
        @include flex($justify: space-between);
        width: 100%;
        .card__value {
            @include flex;
            .card__currency-icon {
                @include flex;
            }
            gap: .5rem;
            p {
                @include typography($family: $ff-main, $weight: 400, $color: $cyan, $size: 1rem);
                text-shadow: 0 0 3px $cyan;
            }
        }
        .card__time-left {
            @include flex;
            gap: .5rem;
            .card__clock-icon {
                @include flex;
                margin-top: 2px;
            }
            p {
                @include typography($family: $ff-main, $weight: 300, $color: $soft-blue, $size: 1rem);
            }
        }
    }
    &__author {
        @include flex($justify: flex-start);
        gap: 1rem;
        border-top: 1px solid $color-line;
        padding-top: 1rem;
        .card__author-image {
            aspect-ratio: 1;
            border-radius: 50%;
            border: 1px solid $white;
            overflow: hidden;
            img {
                width: 2rem;
            }
        }
        p {
            @include typography($family: $ff-main, $weight: 300, $color: $light-blue, $size: 1rem);
            .card__author-name {
                color: $white;
                &:hover {
                    cursor: pointer;
                    color: $cyan;
                }
            }
        }
    }
}