@use '../abstracts' as *;
.contact-form {
    @include flex($direction: column, $justify: center, $align: center);
    gap: 1rem;
    &__input {
        background-color: $bgcolor-inputs;
        border: none;
        padding: .8rem;
        width: 100%;
        &::placeholder {
            @include typography($ff-secondary, 300, 1rem);
            color: $color-bright;
        }
    }
}