@use '../abstracts/' as *;
.pricing-component {
    width: min(34rem, 90%);
    .heading {
        position: relative;
        text-align: center;
        @include typography($color: $dark-desaturated-blue, $weight: 600);
        &__title {
            position: relative;
            z-index: 99;
            font-size: clamp(1.5rem, 5vw, 2rem);
        }
        &__description {
            position: relative;
            z-index: 99;
            color: $grayish-blue;
            margin-top: 1rem;
            font-size: clamp(1rem, 0vw, 2rem);
        }
        &__circles-wrapper {
            position: absolute;
            width: 9.125rem;
            top: 0;
            left: 50%;
            transform: translate(-50%, -30%);
            img {
                max-width: 100%;
            }
        }
    }
    .window {
        border-radius: 10px;
        padding: 3rem 0;
        background-color: $white;
        box-shadow: 0 1rem 1rem 1rem transparentize($color: $black, $amount: .95);
        margin-top: clamp(2rem, 10vw, 5rem);
        &>*+* {
            margin-top: 3rem;
        }
        &__price-picker {
            display: grid;
            row-gap: 1.5rem;
            grid-template-areas: "wievs price" "input input";
            @include horizontal-padding;
            @include small-screen {
                // grid-template-areas: ". wievs . " "input input input " ". price .";
                grid-template-areas: "wievs" "input" "price";
                &>*+* {
                    margin-top: 1rem;
                }
                .window__pageviews {
                    justify-content: center;
                }
                .window__price {
                    justify-content: center;
                }
            }
        }
        &__pageviews {
            @include typography($color: $grayish-blue, $weight: 800);
            @include flex($justify: flex-start);
            grid-area: wievs;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
        &__price {
            @include typography($color: $grayish-blue, $weight: 800);
            @include flex($justify: flex-end, $gap: .2rem);
            grid-area: price;
            .value {
                @include typography($size: 2.5rem, $color: $dark-desaturated-blue, $weight: 800);
            }
        }
        &__input-wrapper {
            grid-area: input;
        }
        &__frequency-picker {
            @include flex($justify: flex-end, $gap: clamp(.75rem, 0vw, 1rem));
            @include typography($size: clamp(.6rem, 2vw, .75rem), $weight: 600);
            padding: 2rem 0;
            @include horizontal-padding;
            p[data-monthly] {
                transition: color .2s ease;
                &.active {
                    font-weight: 800;
                    color: black;
                }
            }
            p[data-yearly] {
                transition: color .2s ease;
                &.active {
                    font-weight: 800;
                    color: black;
                }
            }
        }
        &__discount {
            display: inline-block;
            color: $light-red;
            background-color: $light-grayish-red;
            border-radius: 100px;
            padding: .125rem .5rem;
            @include small-screen {
                .discount-word {
                    display: none;
                }
            }
        }
        .l-flex {
            width: 100%;
            @include flex($justify: space-between);
            @include horizontal-padding;
            padding-top: 2rem;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                border-top: 1px solid $light-grayish-blue;
            }
            @include small-screen {
                flex-direction: column;
                gap: 2rem;
            }
        }
        &__benefits {
            li {
                @include flex($justify: flex-start);
                @include small-screen {
                    justify-content: center;
                }
                p {
                    @include typography($size: .8rem);
                }
            }
            &>*+* {
                margin-top: .5rem;
            }
        }
    }
}