// Colors
// Primary
$grayish-blue: hsl(237, 18%, 59%);
$soft-red: hsl(345, 95%, 68%);
// Neutral
$white: hsl(0, 0%, 100%);
$dark-desaturated-blue: hsl(236, 21%, 26%);
$mid-flip-color: hsl(236, 21%, 31%);
$lightened-dark-desaturated-blue: hsl(236, 21%, 36%);
$very-dark-blue: hsl(235, 16%, 14%);
$mostly-black-blue: hsl(234, 17%, 12%);
// Typography
$ff-primary: 'Red Hat Text', sans-serif;
$fs-primary: 0.875rem;
$fs-numbers: clamp(1.75rem, 7.5vw, 5rem);
$fs-units: clamp(0.25rem, 2vw, 1rem);
$spacing-units: clamp(0.125rem, 1vw, 0.375rem);
$fs-title: clamp(1.25rem, 5vw, 1.75rem);
// Spaces between
$timer-gap: clamp(1rem, 0vw, 2rem);
// Paddings
$countdown-padding-top: clamp(20vh, 15vw, 25vh);
$countdown-padding-right: 1.5rem;
$countdown-padding-bottom: 10vh;
$countdown-padding-left: 1.5rem;
$tile-padding-vertical: clamp(1rem, 0vw, 1.5rem);
// Border radius
$radius-tile: clamp(5px, 0vw, 10px);
// Sizes
$size-diagonal: clamp(0.625rem, 2.5vw, 1.375rem);
