@use '../abstracts/' as *;
body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: var(--key-backgound-1);
    &.blue-theme {
        // backgrounds
        --main-background: hsl(222, 26%, 31%);
        --keypad-background: hsl(223, 31%, 20%);
        --toggle-background: hsl(223, 31%, 20%);
        --screen-background: hsl(224, 36%, 15%);
        // keys
        --key-backgound-1: hsl(225, 21%, 49%);
        --key-shadow-1: hsl(224, 28%, 35%);
        --key-backgound-2: hsl(6, 63%, 50%);
        --key-shadow-2: hsl(6, 70%, 34%);
        --key-backgound-3: hsl(30, 25%, 89%);
        --key-shadow-3: hsl(28, 16%, 65%);
        // text color
        --color-1: hsl(221, 14%, 31%) --color-2: hsl(221, 14%, 31%);
        --color-3: hsl(221, 14%, 31%);
    }
    &.light-theme {
        // backgrounds
        --main-background: hsl(0, 0%, 90%);
        --keypad-background: hsl(0, 0%, 90%);
        --toggle-background: hsl(0, 0%, 90%);
        --screen-background: hsl(185, 42%, 37%);
        // keys
        --key-backgound-1: hsl(185, 42%, 37%);
        --key-shadow-1: hsl(185, 58%, 25%);
        --key-backgound-2: hsl(25, 98%, 40%);
        --key-shadow-2: hsl(25, 99%, 27%);
        --key-backgound-3: hsl(45, 7%, 89%);
        --key-shadow-3: hsl(35, 11%, 61%);
        // text color
        --color-1: hsl(60, 10%, 19%);
        --color-2: hsl(0, 0, 100%);
        --color-3: hsl(0, 0, 100%);
    }
    &.purple-theme {
        // backgrounds
        --main-background: hsl(268, 75%, 9%);
        --keypad-background: hsl(268, 71%, 12%);
        --toggle-background: hsl(268, 71%, 12%);
        --screen-background: hsl(268, 71%, 12%);
        // keys
        --key-backgound-1: hsl(281, 89%, 26%);
        --key-shadow-1: hsl(285, 91%, 52%);
        --key-backgound-2: hsl(176, 100%, 44%);
        --key-shadow-2: hsl(177, 92%, 70%);
        --key-backgound-3: hsl(268, 47%, 21%);
        --key-shadow-3: hsl(290, 70%, 36%);
        // text color
        --color-1: hsl(52, 100%, 62%);
        --color-2: hsl(198, 20%, 13%);
        --color-3: hsl(0, 0, 100%);
    }
}