@use '../abstracts/' as *;
body {}

img {
    max-width: 100%;
}

main {
    background-color: $bgc-main;
    padding-bottom: 10rem;
    position: relative;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}