@use 'variables' as *;
@mixin flex($direction: row, $justify: center, $align: center, $gap: 0) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

@mixin typography($family: $ff-primary, $size: $fs-primary, $color, $weight: 400) {
    font-family: $family;
    font-size: $size;
    color: $color;
    font-weight: $weight;
}

@mixin medium-screen {
    @media only screen and (max-width: 60rem) {
        @content;
    }
}

@mixin small-screen {
    @media only screen and (max-width: 40rem) {
        @content;
    }
}

@mixin increase {
    @include typography($size: .75rem, $color: var(--color-secondary), $weight: 600);
    &--increase {
        color: $lime-green;
    }
    &--decrease {
        color: $bright-red;
    }
}