@use 'variables' as v;
@mixin flex($direction: row, $justify: center, $align: center, $gap: 0) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

@mixin typography($family: v.$ff-primary, $size: v.$fs-main, $color: v.$grayish-blue, $weight: 600) {
    font-family: $family;
    font-size: $size;
    color: $color;
    font-weight: $weight;
}

@mixin medium-screen {
    @media only screen and (max-width: 60rem) {
        @content;
    }
}

@mixin small-screen {
    @media only screen and (max-width: 40rem) {
        @content;
    }
}