// primary colors
$intro-blue: hsl(217, 28%, 15%);
$bgc-main: hsl(218, 28%, 13%);
$bgc-footer: hsl(216, 53%, 9%);
$bgc-testimonials: hsl(219, 30%, 18%);
// accent colors
$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);
$light-red: hsl(0, 100%, 63%);
// neutral colors
$white: #fff;
$black: #000;
// typography
$font-size: 14px;
// Headings, Call-to-actions, Header Navigation
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
$ff-secondary: 'Raleway',
sans-serif;
// Body
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
$ff-primary: 'Open Sans',
sans-serif;