// colors
$bgcolor-header: #f9f8fb;
$bgcolor-about: #00b1b0;
$bgcolor-services: #70bfff;
$bgcolor-gallery: #ffe92f;
$bgcolor-subscribe: #ffffff;
$bgcolor-blog: #b07cf7;
$bgcolor-inputs: rgba(0, 196, 196, 0.5);
$color-dark: #262626;
$color-bright: #fff;
$color-orange-bright: #ff6033;
$color-red: #f72b3b;
$color-green: #96b92c;
$color-blue: #5585a2;
$button-shadow: #8b8b8b;
// heights / weights
$nav-height: 5rem;
$max-container-width: min(75rem, 80vw);
// margins
$margin-main: max(10px, 10vw);
// hamburger parts transform
$hamburger-part-top: .8rem;