@use '../abstracts' as *;
#about-us-section {
    background-color: $bgcolor-about;
    color: $color-bright;
    height: 100vh;
    background-image: url('../img/about.png');
    background-repeat: no-repeat;
    background-position: 20% 50%;
    @include small-screen {
        // background-image: none;
    }
    .max-container {
        min-height: 100%;
        @include flex($direction: row, $justify: flex-end, $align: center);
        .about-us-card {
            max-width: 25rem;
            @include small-screen {
                // text-shadow: 0px 0px 10px black;
                color: black;
                background-color: white;
                border-radius: 10px;
                border: 1px solid #303030;
                padding: 1rem;
                box-shadow: 0px 3px 10px 5px #aaa;
            }
            &__title {
                margin-bottom: 1rem;
            }
        }
    }
}

.form-control {
    margin-top: 5px !important;
}

input#submit.btn {
    margin: x !important;
}