@use '../abstracts' as *;
#blog-section {
    background-color: $bgcolor-blog;
    color: $color-bright;
    .l-flex {
        @include flex(column, center, center);
        gap: 3rem;
        padding: 5rem 0;
        &__title {}
        &__description {}
        &__galery {
            @include flex(row, center, center);
            flex-wrap: wrap;
            gap: 2rem;
        }
        .c-card{
            background-position: 50% 50%;
            &--one{
                background-image: url('../img/blog_smoothie.jpg');
            }
            &--two{
                background-image: url('../img/blog_soup.jpg');
            }
            &--three{
                background-image: url('../img/blog_rapberry.jpg');
            }
        }
        &__button {
            background-color: $color-red;
            color: $color-bright;
        }
    }
}