@use '../abstracts' as *;
#contact-section {
    background-image: url('../img/contact_background.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    .max-container {
        .contact-title {
            font-size: clamp(4rem, 10vw, 6rem);
        }
        @include flex($direction: column,
        $justify: center,
        $align: center);
        gap: 2rem;
        padding: 8rem 0;
        .l-flex {
            width: 100%;
            @include flex($direction: row, $justify: space-between, $align: flex-start);
            gap: 2rem;
            @include small-screen {
                flex-direction: column;
                align-items: center;
                .contact-form {
                    width: 100%;
                }
            }
            .contact-form {
                flex-basis: 70%;
            }
            .contact-data {
                &__title {
                    @include typography($ff-secondary,
                    700,
                    1.8rem);
                }
                &__data {
                    @include typography($ff-secondary,
                    300,
                    1.5rem);
                }
            }
        }
    }
}