    @use '../abstracts/' as *;
    .early-access {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        width: min(55rem, 90%);
        background-color: $intro-blue;
        @include flex(column, $gap: 1.5rem);
        text-align: center;
        padding: 3rem 0;
        border-radius: 10px;
        box-shadow: 5px 5px 5px $bgc-footer;
        &__title {
            @include typography($family: $ff-secondary, $size: 2rem, $color: $gray-d, $weight: 700);
        }
        &__description {
            @include typography($family: $ff-secondary, $size: .9rem, $color: $gray-d, $weight: 400);
            line-height: 1.5;
            width: min(40rem, 90%);
        }
        &__form {
            @include flex($gap: 1.5rem);
            width: min(45rem, 90%);
            @include small-screen {
                flex-direction: column;
                align-items: center;
                .early-access__email-input {
                    width: 90%;
                }
            }
        }
        &__email-input {
            background-color: $white;
            flex-basis: 100%;
            padding: 1rem 1rem;
            border: none;
            border-radius: 1000px;
        }
        &__submit-button {
            width: min(20rem, 90%);
        }
    }