@use '../abstracts/' as *;
.footer {
    background-color: $bgc-footer;
    color: $gray-d;
    padding-top: 18rem;
    padding-bottom: 5rem;
    .max-container {
        width: min(75rem, 90%);
        margin: 0 auto;
    }
    .logo--footer {
        height: 5rem;
        img {
            max-height: 100%;
        }
    }
    .l-flex {
        @include flex($justify: space-between, $align: flex-start);
        flex-wrap: wrap;
        row-gap: 3rem;
        // @include medium-screen{
        //     flex-direction: column;
        // }
    }
    &__location {
        @include flex($align: flex-start);
        max-width: 24rem;
        p {
            @include typography($ff-secondary, 1rem, $gray-d, 400);
        }
    }
    &__contact-list {
        li {
            @include flex($justify: flex-start);
            p {
                @include typography($ff-primary, .9rem, $gray-d, 400);
            }
        }
        &>*+* {
            margin-top: 1rem;
        }
    }
    &__menu {
        @include typography($ff-secondary, 1rem, $gray-d, 400);
        columns: 2;
        &>*+* {
            margin-top: 1rem;
        }
    }
    &__social-media {
        @include flex;
        font-size: 2rem;
    }
}