@use '../abstracts' as *;
footer {
    background-color: $color-dark;
    color: hsla(0, 0%, 100%, 0.7);
    @include typography($ff-secondary, 300, 1.2rem);
    padding: 2rem 0;
    .l-flex {
        @include flex(row, space-between, center);
        &__red {
            color: $color-red;
            font-weight: 700;
        }
    }
}