@use '../abstracts' as *;
#gallery-section {
    background-color: $bgcolor-gallery;
    .gallery {
        @include flex($direction: column, $justify: center, $align: center);
        gap: 3rem;
        padding: 3rem 0;
        text-align: center;
        &__description {
            margin-top: 2rem;
            max-width: 50rem;
            word-spacing: 3px;
        }
        &__grid {
            display: grid;
            grid-template-areas: "big big big big small small" "big big big big small-two small-two" "med med med med-two med-two med-two" "med med med med-two med-two med-two";
            gap: 1.5rem;
            @include small-screen {
                grid-template-areas: "big" "med" "med-two" "small" "small-two";
            }
            img {
                display: block;
                width: 100%;
                cursor: pointer;
                transition: .2s;
                &:hover {
                    transform: scale(1.02);
                }
            }
        }
        &__big {
            grid-area: big;
        }
        &__med {
            grid-area: med;
        }
        &__med-two {
            grid-area: med-two;
        }
        &__small {
            grid-area: small;
        }
        &__small-two {
            grid-area: small-two;
        }
        .section-button {
            background-color: $color-blue;
            color: $color-bright;
        }
    }
}