@use '../abstracts/' as *;
.header {
    position: relative;
    background-color: $intro-blue;
    text-align: center;
    padding: clamp(3rem, 25vw, 5rem) 0;
    &::before {
        content: '';
        width: 100%;
        aspect-ratio: 1/0.3118;
        position: absolute;
        bottom: -2px;
        left: 0;
        background-repeat: no-repeat;
        background-size: 100%;
        background-image: url('../../src/img/bg-curvy-desktop.svg');
        z-index: 1;
    }
    .max-container {
        position: relative;
        z-index: 2;
        @include flex($direction: column, $gap: 2rem);
        width: min(90vw, 45rem);
        margin: 0 auto;
    }
    &__title {
        @include typography($ff-secondary,
        clamp(1.5rem, 5vw, 2.5rem),
        $white,
        700);
        line-height: 1.4;
    }
    &__description {
        display: block;
        width: min(35rem, 80vw);
        line-height: 1.4;
        @include typography($ff-secondary,
        clamp(.9rem, 2vw, 1.2rem),
        $white,
        400);
    }
    &__start-button {
        width: clamp(15rem, 20vw, 17rem);
    }
}