@use '../abstracts/' as *;
.services {
    .l-flex {
        padding: 4rem 1rem;
        margin: 0 auto;
        @include flex($justify: space-around, $gap: 4rem);
        flex-wrap: wrap;
        width: min(60rem, 90vw);
    }
    .tile {
        flex-basis: 21rem;
        @include flex(column, $gap: 1rem);
        text-align: center;
        &__title {
            @include typography($family: $ff-secondary, $size: 1.2rem, $color: $white, $weight: 700)
        }
        &__description {
            @include typography($family: $ff-secondary, $size: .85rem, $color: $white, $weight: 400);
            line-height: 1.5;
        }
    }
}