@use '../abstracts' as *;
#subscribe-section {
    background-color: $bgcolor-subscribe;
    background-image: url('../img/subscribe.jpg');
    background-repeat: no-repeat;
    background-position: 80% 50%;
    .sub-body {
        @include flex($direction: column, $justify: space-between, $align: flex-start);
        gap: 2rem;
        padding: clamp(7rem, 10vw, 10rem) 0;
        &__title {
            font-size: clamp(2.5rem, 7vw, 4rem);
        }
        &__description {
            max-width: 40rem;
            @include medium-screen {
                background-color: hsla(0, 0%, 100%, .8);
                padding: 1rem;
            }
        }
        &__form {
            @include flex($direction: row, $justify: flex-start, $align: center);
            column-gap: 2rem;
            row-gap: 1rem;
            flex-wrap: wrap;
            width: 45rem;
            @include small-screen {
                width: 100%;
            }
        }
        &__input-text {
            height: 3rem;
            width: 30.5rem;
            padding-left: 1rem;
        }
        &__button {
            background-color: $color-green;
            color: $color-bright;
        }
    }
}