@use '../1-abstracts/' as *;

.picker {
  position: relative;
  width: min(27.5rem, 85vw);
  aspect-ratio: 1;
  background: url('../img/bg-pentagon.svg') no-repeat center center;
  background-size: 75%;
  margin-top: 1.5rem;
  .token-wrapper {
    position: absolute;

    border-width: $picker-token-border;
    &--scissors {
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      box-shadow: 0 $pick-outer-shadow-height 0 0 $scissors-shadow;
    }
    &--paper {
      right: 0;
      top: 30%;
      box-shadow: 0 $pick-outer-shadow-height 0 0 $paper-shadow;
    }
    &--rock {
      bottom: 0;
      right: 15%;
      box-shadow: 0 $pick-outer-shadow-height 0 0 $rock-shadow;
    }
    &--lizard {
      bottom: 0;
      left: 15%;
      box-shadow: 0 $pick-outer-shadow-height 0 0 $lizard-shadow;
    }
    &--spock {
      left: 0;
      top: 30%;
      box-shadow: 0 $pick-outer-shadow-height 0 0 $spock-shadow;
    }
    &__img {
      max-height: 55%;
    }
  }
  &--hidden {
    display: none;
  }
}
