@use '../1-abstracts/' as *;
.timer {
  width: min(100%, 43rem);
  &__tile-container {
    flex-basis: 25%;
    text-align: center;
  }
  &__tile {
    @include typography($size: $fs-numbers, $color: $soft-red);
    @include flex;
    // padding: $tile-padding-vertical 0;
    aspect-ratio: 1;
    background-color: $dark-desaturated-blue;
    border-radius: $radius-tile;
    box-shadow: 0 10px 0 0 $mostly-black-blue;
    overflow: hidden;
    position: relative;
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      @include circle($diagonal: 0.875rem);
      background-color: $mostly-black-blue;
      z-index: 100;
    }
    &::before {
      left: 0;
      transform: translate(-50%, -50%);
    }
    &::after {
      right: 0;
      transform: translate(50%, -50%);
    }
  }
  &__tile-number {
    position: absolute;
    inset: 0;
    &::before,
    &::after {
      position: absolute;
      left: 0;
      right: 0;
      height: 50%;
      overflow: hidden;
      line-height: 0; // Lh 0 makes text have 0 height in theory, thanks that we can position text with vertical middle point of it
      display: flex;
      justify-content: center;
    }
    &::before {
      content: attr(data-number-before);
      top: 0;
      align-items: flex-end;
    }
    &::after {
      content: attr(data-number-after);
      bottom: 0;
      align-items: flex-start;
      background-color: $lightened-dark-desaturated-blue;
    }
  }
  // Flippable parts
  &__flip-front,
  &__flip-back {
    position: absolute;
    left: 0;
    right: 0;
    height: 50%;
    overflow: hidden;
    line-height: 0; // Lh 0 makes text have 0 height in theory, thanks that we can position text with vertical middle point of it
    display: flex;
    justify-content: center;
    z-index: 99;
  }
  &__flip-front {
    top: 0;
    align-items: flex-end;
    transform-origin: center bottom;
    background-color: $dark-desaturated-blue;
    // background-color: blue;
    transition: all 0.15s ease-in-out;
    &.flipped {
      transform: rotateX(90deg);
      background-color: $mid-flip-color;
    }
  }
  &__flip-back {
    top: 50%;
    align-items: flex-start;
    transform-origin: center top;
    background-color: $lightened-dark-desaturated-blue;
    // background-color: red;
    transition: all 0.15s 0.15s ease-in-out;
    &.flipped {
      background-color: $mid-flip-color;
      transform: rotateX(90deg);
    }
  }
  &__time-unit {
    @include typography($size: $fs-units, $color: $grayish-blue);
    text-transform: uppercase;
    letter-spacing: $spacing-units;
    margin-top: 2rem;
  }
}
