@use '../../scss/abstracts/' as *;
.daily-card {
    flex-basis: 16.1rem;
    background-color: var(--card-background);
    border-radius: 5px;
    padding: 1.5rem 1.4rem;
    cursor: pointer;
    transition: background-color .35s;
    &>*+* {
        margin-top: 1.5rem;
    }
    &:hover {
        background-color: var(--card-hover-background);
    }
    &__half {
        @include flex($justify: space-between, $align: baseline);
    }
    &__tile {
        @include typography($size: $fs-primary, $color: var(--color-secondary), $weight: 600);
    }
    &__counter {
        @include typography($size: 2rem, $color: var(--color-primary), $weight: 600);
    }
    &__percentage-change {
        @include flex( $gap: .5rem);
    }
    &__percentage-number {
        @include increase;
    }
}